<div class="search-form">
    <form id="search-blog-posts" action="/search" method="get">
        <!-- <input type="text" name="search_key" placeholder="Search category"> -->
        <select form="search-blog-posts" class="search-form__category-dropdown" name="category">
            <option value="">Search category</option>

            <% @categories.each do |category| %>

                <option value="<%= category %>"><%= category %></option>

            <% end %>

        </select>
        <input type="submit">
    </form>
</div>


<div class="search-results__container">
    <% if @search_results != ""%>
        <% if @search_results.length > 0 %>

            <% @search_results.each do |result| %>
                <div class="search-result">
                    <div class="search-result__title">
                        <%= result.title %>
                    </div>
                    <div class="search-result__category">
                        <%= result.category %>
                    </div>
                    <div class="search-result__content">
                        <%= result.content %>
                    </div>
                </div>
            <% end %>

        <% else %>
            Sorry, no results match your search.
        <% end %>
    <% end %>
</div>
